/* Import FF Hekaya Arabic font */
@font-face {
    font-family: "ff_hekayalight";
    src: url("/fonts/ffhekaya-light-webfont.woff") format("woff"),
        url("/fonts/ffhekaya-light-webfont.woff2") format("woff2"),
        url("/fonts/FFHekaya-Light.otf") format("opentype"),
        url("/fonts/ffhekaya-light-webfont.ttf") format("truetype"),
        url("/fonts/ffhekaya-light-webfont.svg") format("svg");
}

/* GENERAL */

body {
    font-family: 'FF Hekaya', 'Tajawal', sans-serif;
}

.content {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2.main-title {
    font-size: 5rem;
    font-weight: normal;
    color: #07BEB8;
    margin-top: 0 !important;
    text-align: center;
}

.arrow-down,
.arrow-up {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    transform: translateY(-100px);
    right: 40%;
    cursor: pointer;
}

/* SECTION ( 1 ) */

section.section-1 {
    padding-right: 0;
}

/* SVG */

.section-1 svg {
    width: 100%;
    height: 100%;
}

.section-1 path {
    transform: rotate(-90deg);
    transform-origin: 50% 100%;
}

.section-1 .wave-1,
.section-1 .wave-2,
.section-1 .tree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-1 .wave-1,
.section-1 .wave-2 {
    left: 10%;
    transform: scaleX(1.5);
}

/* Tree */

.section-1 .tree {
    position: absolute;
    top: -25vh;
    transform: scale(0.8);
}

polygon {
    stroke-width: 1;
  }
  
#cloud1,
#cloud2 {
    left:-10px;
    top: -5%;
    position: absolute;
    width: 150%;
}

#cloud1 {
    z-index: -1;
}

#cloud2 {
    z-index: 1;
}

.green-lighter {
  background: #a5df66;
  fill: #a5df66;
  stroke: #a5df66;
}
.green-light {
  background: #79b544;
  fill: #79b544;
  stroke: #79b544;
}
.green-norm {
  background: #619b37;
  fill: #619b37;
  stroke: #619b37;
}
.green-dark {
  background: #54892f;
  fill: #54892f;
  stroke: #54892f;
}
.green-darker {
  background: #3c6720;
  fill: #3c6720;
  stroke: #3c6720;
}
.brown-light {
  background: #d5bc79;
  fill: #d5bc79;
}
.brown-dark {
  background: #996d2e;
  fill: #996d2e;
}

/* Content */

.section-1 .left,
.section-1 .right {
    width: 50%;
    text-align: center;
    position: relative;
}

/* .section-1 .right {
    position: relative;
    top: -30px;
    left: 60px;
} */

.section-1 .right .logo {
    width: 30%;
    position: relative;
    right: -1500px;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}

.section-1 .right .logo:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

.section-1 .right h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 3rem 0;
    color: #00234B;
    font-family: 'Quicksand', sans-serif;
}

.section-1 a {
    display: inline-block;
    border-radius: 15px;
    outline: none;
    padding: 15px;
    width: 9rem;
    font-family: 'Tajawal', sans-serif;
    background-color: #8F3985;
    color: #fff;
    margin-top: 25px;
}

.section-1 a:hover {
    background-color: #602859;
    color: #fff;
}

.section-1 img {
    width: 100%;
}

/* SECTION ( 2 ) */

/* .section-2 {
    background-color: #FFF04B;
} */

.section-2 {
    background-image: url("/img/section2_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2 .container {
    padding-right: 2rem;
}

.section-2 .main-title {
    text-align: unset;
}

.section-2 .content img {
    max-height: 100%;
}

/* SECTION ( 3 ) */

.section-3 {
    padding: 0 !important;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.services-title {
    font-size: 6rem;
}

.services-cards {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: -15px;
}

.services-cards h1,
.services-cards p {
    text-align: center;
    padding: 0 1rem;
}

.services-cards h1 {
    font-size: 3rem;
    padding-bottom: 4rem;
}

.services-card {
    padding: 2rem;
    height: 100%;
}

.services-card__wrapper {
    background-image: url('/img/section3-card-bg-lime-medium.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    width: 409px;
    height: 734px;
    border-radius: 7.3%;
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
      12px 12px 12px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
}

.services-card__wrapper:hover,
.services-card__wrapper-clicked {
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.2),
    1px 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.services-card-2 img {
    transform: scale(0.85);
}

.arrow-down-section-3 {
    right: 47%;
    transform: translate(0, 20px);
}

/* SECTION  ( 4 ) */

section.section-4 {
    padding: 0 !important;
}

.section-4__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 100%;
    background-image: url('/img/section4-features-bg-v2.png');
    background-size: cover;
    position: relative;
    z-index: -2;
}

.section-4-title {
    color: #8F3985 !important;
}

.path-slider {
    position: relative;
    width: 100%;
    background-position: center;
    top: -90px;

}

.path-slider a:visited,
.path-slider a:link {
    outline: none;
    text-decoration: none;
    color: inherit;
}
.path-slider p {
    position: relative;
    top: -6rem;
    right: -12rem;
    font-size: 2rem;
    width: 400px;
    text-align: right;
}

.path-slider__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
}

.path-slider__path {
    stroke-width: 10px;
    stroke: rgba(32, 32, 32, 0.9);
    fill: none;
}

.path-slider__item {
    position: absolute;
    left: -100px;
    top: -90px;
    cursor: pointer;
    z-index: 1;
}

.item__circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-position: center;
    border-radius: 100%;
    transform: scale(0.5);
    transition: 0.5s transform;
    border: 15px solid rgba(32, 32, 32, 0.9);
}

.item__circle:hover {
    transform: scale(0.6);
    transition: 0.5s transform;
}

.path-slider__current-item {
    z-index: 2;
}

.path-slider__current-item .item__circle {
    transform: scale(1.1);
    cursor: default;
}

.path-slider__current-item .item__circle p {
    font-size: 2.5rem;
    right: -20rem;
    top: -5.5rem;
}

svg.path-slider__svgpath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.path-slider__item--1 .item__circle {
    background-image: url("/img/section4-icon1.png");
    background-size: cover;
}

.path-slider__item--2 .item__circle {
    background-image: url("/img/section4-icon2.png");
    background-size: cover;
}

.path-slider__item--3 .item__circle {
    background-image: url("/img/section4-icon3.png");
    background-size: cover;
}

.path-slider__item--4 .item__circle {
    background-image: url("/img/section4-icon4.png");
    background-size: cover;
}

.path-slider__item--5 .item__circle {
    background-image: url("/img/section4-icon5.png");
    background-size: cover;
}

.path-slider__eng-text {
    display: none;
}

.path-slider__ara-text {
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.path-slider__ara-text:hover {
    transform: translateX(10px);
    transition: transform 0.2s ease-in-out;
}

.arrow-down-section-4 {
    right: 47%;
    transform: translate(0, 20px);
    fill: #FFB4C8 !important;
}

/* SECTION  ( 5 ) */
section.section-5 {
    padding: 0 !important;
}

section.section-5 .container {
    height: 100%;
}

/* SVG */

.section-5 svg.section-5-svg-bg {
    width: 110%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.section-5 svg.section-5-svg-bg path {
    transform: rotate(-90deg);
    transform-origin: 50% 100%;
}

h2.main-title.section-5-title {
    margin-bottom: 3rem;
    /* color: #8F3985; */
}

h1.section-5-subtitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

h1.section-5-subtitle.section-5-subtitle__left {
    text-align: center;
    color: #fff;
}

/* Contact Form */

.input, .textarea, select, button {
    font-family: 'FF Hekaya';
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
    border-color: #eee;
    box-shadow: 0 0 0 1px #dbdbdb;
}

textarea {
    max-height: 10em !important;
    overflow: hidden;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #bbb !important;
    left: 1.125em !important;
    right: unset !important;
}

img.doctor-user-icon {
    width: 45%;
}

button.submit-button {
    text-align: right;
    /* background-color: #8F3985 !important; */
    background-color: #07BEB8 !important;
    transition: transform 0.1s ease-in-out;
    width: 30%;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 1.4rem;
}

button.submit-button:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
    background-color: #752d6d !important;
}

/* SOCIAL */

.section-5-social {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: row-reverse;
}

.section-5-social svg {
    /* color: #00234B; */
    color: #fff;
}

.section-5-social span {
    font-size: 2rem;
    margin-left: 2rem;
    color: #eee;
}


.arrow-up {
    transform: scaleY(-1) translateY(0);
    right: 20px;
    width: 50px;
    height: 50px;
    bottom: 0;
}

/* PRELOADER */

body{background:#ECF0F1}

.preloader{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.preloader hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}

.preloader :first-child{background:#19A68C;animation-delay:-1.5s}
.preloader :nth-child(2){background:#F63D3A;animation-delay:-1s}
.preloader :nth-child(3){background:#FDA543;animation-delay:-0.5s}
.preloader :last-child{background:#193B48}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}





