/* Import FF Hekaya Arabic font */
@font-face {
    font-family: 'FF Hekaya';
    src: url("../fonts/subset-FFHekaya-Light.woff") format("woff"),
        url("../fonts/subset-FFHekaya-Light.woff2") format("woff2"),
        url("../fonts/FFHekaya-Light.otf") format("opentype"),
        url("../fonts/subset-FFHekaya-Light.ttf") format("truetype"),
        url("../fonts/subset-FFHekaya-Light.svg") format("svg");
}

/* NOTE: Google fonts are better loaded in HTML header than here using @import rule
to be able to display correctly on android mobile devices */

/* GENERAL */

body {
    font-family: 'FF Hekaya', 'Changa', 'Quicksand', sans-serif;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    height: 100vh;
}

h2.main-title {
    font-size: 5rem;
    font-weight: normal;
    color: #07BEB8;
    margin-top: 0 !important;
    text-align: center;
    padding: 0 2rem;
}

.arrow-down,
.arrow-up {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    right: 40%;
    cursor: pointer;
}

/* SECTION ( 1 ) */

section.section-1 {
    padding-right: 0;
}

/* SVG */

.section-1 svg {
    width: 100%;
    height: 100%;
}

.section-1 path {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
}

.section-1 .wave-1,
.section-1 .wave-2,
.section-1 .tree {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-1 .wave-1,
.section-1 .wave-2 {
    left: 10%;
    -webkit-transform: scaleX(1.5);
        -ms-transform: scaleX(1.5);
            transform: scaleX(1.5);
}

/* Tree */

.section-1 .tree {
    position: absolute;
    top: -10vh;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

polygon {
    stroke-width: 1;
  }
  
#cloud1,
#cloud2 {
    left:-10px;
    top: -5%;
    position: absolute;
    width: 150%;
}

#cloud1 {
    z-index: -1;
}

#cloud2 {
    z-index: 1;
}

.green-lighter {
  background: #a5df66;
  fill: #a5df66;
  stroke: #a5df66;
}
.green-light {
  background: #79b544;
  fill: #79b544;
  stroke: #79b544;
}
.green-norm {
  background: #619b37;
  fill: #619b37;
  stroke: #619b37;
}
.green-dark {
  background: #54892f;
  fill: #54892f;
  stroke: #54892f;
}
.green-darker {
  background: #3c6720;
  fill: #3c6720;
  stroke: #3c6720;
}
.brown-light {
  background: #d5bc79;
  fill: #d5bc79;
}
.brown-dark {
  background: #996d2e;
  fill: #996d2e;
}

/* Content */

.section-1 .left,
.section-1 .right {
    width: 50%;
    text-align: center;
    position: relative;
    padding-top: 2rem;
}

/* .section-1 .right {
    position: relative;
    top: -30px;
    left: 60px;
} */

.section-1 .right .logo {
    width: 30%;
    position: relative;
    right: -1500px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.section-1 .right .logo:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.section-1 .right h1 {
    font-size: 5rem;
    font-weight: bold;
    margin: 3rem 0;
    color: #00234B;
    font-family: 'Quicksand', sans-serif;
}

.section-1 a {
    display: inline-block;
    -webkit-border-radius: 2.2rem;
            border-radius: 2.2rem;
    outline: none;
    padding: 0.5rem;
    width: 12rem;
    height: 4.6rem;
    background-color: #8F3985;
    color: #fff;
    margin-top: 25px;
    font-size: 2.2rem;
    
}

a.english-page {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem 2rem;
    font-family: 'Quicksand';
    font-size: 0.9rem;
    font-weight: bold;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 3rem;
    height: 3rem;
    -webkit-border-radius: 10px;
            border-radius: 10px;
}

.section-1 a:hover {
    background-color: #602859;
    color: #fff;
}

.section-1 .left img.header_image {
    position: absolute;
    left: 0;
    top: 15%;
}

/* SECTION ( 2 ) */

/* .section-2 {
    background-color: #FFF04B;
} */

.section-2 {
    background-image: url("/img/section2_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2 .content {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
}

.section-2 .container {
    padding-right: 2rem;
}

.section-2 .main-title {
    text-align: unset;
}

.section-2 .container p {
    padding-right: 2rem;
    font-size: 3rem;
}


.section-2 .content img {
    max-height: 100%;
}

/* SECTION ( 3 ) */

.section-3 {
    padding: 0 !important;
}

.services-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
}

.services-title {
    font-size: 6rem;
}

.services-cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    top: -15px;
}

.services-cards h1,
.services-cards p {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.services-cards h1 {
    font-size: 3rem;
    padding-bottom: 4rem;
}

.services-card {
    padding: 2rem;
    height: 100%;
}

.services-card__wrapper {
    background-image: url('/img/section3-card-bg-lime-medium.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 409px;
    height: 734px;
    -webkit-border-radius: 7.3%;
            border-radius: 7.3%;
    -webkit-box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
      12px 12px 12px 0 rgba(0, 0, 0, 0.4);
            box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8),
      12px 12px 12px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    cursor: pointer;
}

.services-card__wrapper:hover,
.services-card__wrapper-clicked {
    -webkit-box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.2),
    1px 1px 1px 0 rgba(0, 0, 0, 0.4);
            box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.2),
    1px 1px 1px 0 rgba(0, 0, 0, 0.4);
}

.services-card-2 img {
    -webkit-transform: scale(0.85);
        -ms-transform: scale(0.85);
            transform: scale(0.85);
}

.arrow-down-section-3 {
    right: 47%;
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
}

/* SECTION  ( 4 ) */

section.section-4 {
    padding: 0 !important;
}

.section-4__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    height: 100%;
    background-image: url('/img/section4-features-bg-v2.png');
    background-size: cover;
    position: relative;
    z-index: -2;
}

.section-4-title {
    color: #8F3985 !important;
}

.path-slider {
    position: relative;
    width: 100%;
    background-position: center;
    top: -90px;

}

.path-slider a:visited,
.path-slider a:link {
    outline: none;
    text-decoration: none;
    color: inherit;
}
.path-slider p {
    position: relative;
    top: -6rem;
    right: -12rem;
    font-size: 2rem;
    width: 400px;
    text-align: right;
}

.path-slider__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
}

.path-slider__path {
    stroke-width: 10px;
    stroke: rgba(32, 32, 32, 0.9);
    fill: none;
}

.path-slider__item {
    position: absolute;
    left: -100px;
    top: -90px;
    cursor: pointer;
    z-index: 1;
}

.item__circle {
    display: inline-block;
    width: 160px;
    height: 160px;
    background-position: center;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
    border: 15px solid rgba(32, 32, 32, 0.9);
}

.item__circle:hover {
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6);
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
}

.path-slider__current-item {
    z-index: 2;
}

.path-slider__current-item .item__circle {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: default;
}

.path-slider__current-item .item__circle p {
    font-size: 2.5rem;
    right: -20rem;
    top: -5.5rem;
}

svg.path-slider__svgpath {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.path-slider__item--1 .item__circle {
    background-image: url("/img/section4-icon1.png");
    background-size: cover;
}

.path-slider__item--2 .item__circle {
    background-image: url("/img/section4-icon2.png");
    background-size: cover;
}

.path-slider__item--3 .item__circle {
    background-image: url("/img/section4-icon3.png");
    background-size: cover;
}

.path-slider__item--4 .item__circle {
    background-image: url("/img/section4-icon4.png");
    background-size: cover;
}

.path-slider__item--5 .item__circle {
    background-image: url("/img/section4-icon5.png");
    background-size: cover;
}

.path-slider__eng-text {
    display: none;
}

.path-slider__ara-text {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.path-slider__ara-text:hover {
    -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.arrow-down-section-4 {
    right: 47%;
    -webkit-transform: translate(0, 20px);
        -ms-transform: translate(0, 20px);
            transform: translate(0, 20px);
    fill: #FFB4C8 !important;
}

/* SECTION  ( 5 ) */
section.section-5 {
    padding: 0 !important;
}

section.section-5 .container {
    height: 100%;
}

/* SVG */

.section-5 svg.section-5-svg-bg {
    width: 110%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.section-5 svg.section-5-svg-bg path {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
}

h2.main-title.section-5-title {
    margin-bottom: 3rem;
    /* color: #8F3985; */
}

h1.section-5-subtitle {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

h1.section-5-subtitle.section-5-subtitle__left {
    text-align: center;
    color: #fff;
}

/* Contact Form */

.input, .textarea, select, button {
    font-family: 'FF Hekaya', 'Changa', sans-serif;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea, .select select.is-active, .select select.is-focused, .select select:active, .select select:focus, .textarea:active, .textarea:focus {
    border-color: #eee;
    -webkit-box-shadow: 0 0 0 1px #dbdbdb;
            box-shadow: 0 0 0 1px #dbdbdb;
}

textarea {
    max-height: 10em !important;
    overflow: hidden;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #bbb !important;
    left: 1.125em !important;
    right: unset !important;
}

img.doctor-user-icon {
    width: 45%;
}

button.submit-button {
    text-align: right;
    /* background-color: #8F3985 !important; */
    background-color: #07BEB8 !important;
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    width: 30%;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    margin-top: 20px;
    font-size: 1.4rem;
}

button.submit-button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
    background-color: #752d6d !important;
}

/* REGISTER NOW */

.section-5 .column {
    text-align: center;
}

button.submit-button {
    width: 50%;
    font-size: 2rem;
    top: 10vh;
}

/* SOCIAL */

.section-5-social__container {
    position: relative;
    top: 10vh;
}

.section-5-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.section-5-social svg {
    /* color: #00234B; */
    color: #fff;
}

.section-5-social span {
    font-size: 2rem;
    margin-left: 2rem;
    color: #eee;
}

.section-5-social a {
    color: #eee;
}

.section-5-social a:hover {
    color: #fff;
}

.section-5-social.section-5-social__email span:hover {
    color: #FFF04B;
}

.arrow-up {
    -webkit-transform: scaleY(-1) translateY(0);
        -ms-transform: scaleY(-1) translateY(0);
            transform: scaleY(-1) translateY(0);
    right: 20px;
    width: 50px;
    height: 50px;
    bottom: 0;
}

/* PRELOADER */

body{background:#ECF0F1}

.preloader {
    position:absolute;
    top:50%;
    left:-webkit-calc(50% - 50px);
    left:calc(50% - 50px);
    -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    z-index: 100000;
    /*change these sizes to fit into your project*/
    width:100px;
    height:100px;
}

.preloader hr{border:0;margin:0;width:40%;height:40%;position:absolute;-webkit-border-radius:50%;border-radius:50%;-webkit-animation:spin 2s ease infinite;animation:spin 2s ease infinite}

.preloader :first-child{background:#19A68C;-webkit-animation-delay:-1.5s;animation-delay:-1.5s}
.preloader :nth-child(2){background:#F63D3A;-webkit-animation-delay:-1s;animation-delay:-1s}
.preloader :nth-child(3){background:#FDA543;-webkit-animation-delay:-0.5s;animation-delay:-0.5s}
.preloader :last-child{background:#193B48}

@-webkit-keyframes spin{
  0%,100%{-webkit-transform:translate(0);transform:translate(0)}
  25%{-webkit-transform:translate(160%);transform:translate(160%)}
  50%{-webkit-transform:translate(160%, 160%);transform:translate(160%, 160%)}
  75%{-webkit-transform:translate(0, 160%);transform:translate(0, 160%)}
}

@keyframes spin{
  0%,100%{-webkit-transform:translate(0);transform:translate(0)}
  25%{-webkit-transform:translate(160%);transform:translate(160%)}
  50%{-webkit-transform:translate(160%, 160%);transform:translate(160%, 160%)}
  75%{-webkit-transform:translate(0, 160%);transform:translate(0, 160%)}
}