html, body {
    font-size: 85%;
}

/* SECTION ( 1 ) */

div.login-box {
    bottom: 4px;
    right: 10px;
    left: auto;
}

.section-1 div.login-box a.login_link {
    width: 50px;
    height: 22px;
    margin-left: 7px;
}

@media screen and (max-width: 366px) {
    .section-1 div.login-box h4 {
        font-size: 0.7rem;
    }
}

/* SECTION ( 3 ) */

@media screen and (max-width: 1023px) {
    .section-3 .services-cards p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 520px) {  
    .section-3 .services-card {
      right: -25px;
    }
}
  
@media screen and (max-width: 480px) {
    .section-3 .services-card {
        -webkit-transform: scale(0.75);
            -ms-transform: scale(0.75);
                transform: scale(0.75);
        -webkit-transform-origin: top;
            -ms-transform-origin: top;
                transform-origin: top;
    }
}

@media screen and (max-width: 440px) {
    .section-3 .services-card {
        right: 14px;
    }
}

@media screen and (max-width: 410px) {
    .section-3 .services-card {
        -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
                transform: scale(0.6);
        right: 8px;
    }
}

@media screen and (max-width: 360px) {
    .section-3 .services-card {
        right: -10px;
    }
}

@media screen and (max-width: 320px) {
    .section-3 .services-card {
        right: -30px;
    }
}


/* SECTION ( 4 ) */

@media screen and (max-width: 840px) {
    .section-4 .path-slider__current-item .item__circle p {
        font-size: 1.25rem;
        /* text-align: left; */
        padding-right: 50px;
    }

    .section-4 .path-slider__item.path-slider__item--5.path-slider__current-item p.path-slider__eng-text {
        right: -20rem;
    }
}

@media screen and (max-width: 690px) {
    .section-4 .path-slider__current-item .item__circle p {
        font-size: 1.5rem;
        padding-right: 10px;
    }

    .section-4 .path-slider__item.path-slider__item--5.path-slider__current-item p.path-slider__eng-text {
        right: -15rem;
    }
}


/* SECTION ( 5 ) */

@media screen and (max-width: 928px) {
    .section-5-social__container {
    top: 8vh;
    }
}

@media screen and (max-width: 768px) {
    .section-5-social__container {
    top: 0;
    }
}

@media screen and (max-width: 580px) {
    .section-5 .column.is-one-fifth {
        height: 18vh;
    }

    .section-5-social__container {
    top: 3vh;
    }
}
    