@font-face {
    font-family: 'FF Hekaya';
    src: url('subset-FFHekaya-Light.woff2') format('woff2'),
        url('subset-FFHekaya-Light.woff') format('woff'),
        url('subset-FFHekaya-Light.ttf') format('truetype'),
        url('subset-FFHekaya-Light.svg#FFHekaya-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

